<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Home - URL Shortcut</title>
</head>
<body>
    <h1>URL Shortcut</h1>
    <h2>Welcome to the URL Shortcut's homepage.</h2>
    <h3>APIs are all up and running.</h3>
</body>
</html>